# Here it is useful to take stock of the POST-CONFIG package list
# /var/log/AnsibleConfig/YY-MM-DD-HH-MM-post|pre.txt
- name: "Capture post-config state"
  become: yes
  shell: |
    #!bin/bash 
    SNAP_DIR=/var/log/yum-snapshots 
    SNAP_POST_DATE=$(date +"%Y-%m-%d-%H-%M")
    SNAP_POST_FILE=$SNAP_DIR/$SNAP_POST_DATE-post.txt
    mkdir -p $SNAP_DIR 
    yum list installed > $SNAP_POST_FILE
