# - name: Check if Admin User exists
#   become: yes
#   become_user: airflow
#   shell: |
#     #!/bin/bash
#     airflow users list | grep -c "admin" > /dev/null 2>&1;
  #register: user_exists_result
  #failed_when: "user_exists_result.rc not in [ 0,2 ]"
    ## cmd: source ~/.bashrc &&  airflow users list | grep -c "admin1" > /dev/null 2>&1

- name: Check if Admin User exists
  become: yes
  become_user: airflow  
  shell: 
    cmd: source ~/.bashrc && airflow users list | grep -c "admin1" #> /dev/null
  register: user_exists_result
  failed_when: "user_exists_result.rc not in [ 0, 1 ]"

- name: Admin user exists
  debug:
    msg: "{{ user_exists_result.rc }}"
  when: user_exists_result.rc == 0

- name: Admin user does not exist
  debug:
    msg: "{{ user_exists_result.rc }}"
  when: user_exists_result.rc == 1

- name: Create the Admin User
  become: yes
  become_user: airflow
  shell: 
    cmd: airflow users create --username admin1 --role Admin --email admin1@admin.com --firstname admin1 --lastname admin --password admin 
  register: create_user_result
  failed when: "'ERROR' in create_user_result.stdout"
  when: user_exists_result.rc == 1                                                                  

# - debug:
#     msg: "The Admin user exists"
#   when: create_user_result.rc | default ('') == 0 
