# - name: Check if Admin User exists
#   become: yes
#   become_user: airflow
#   shell: |
#     #!/bin/bash
#     airflow users list | grep -c "admin" > /dev/null 2>&1;
  #register: user_exists_result
  #failed_when: "user_exists_result.rc not in [ 0,2 ]"
    ## cmd: source ~/.bashrc &&  airflow users list | grep -c "admin1" > /dev/null 2>&1

- name: Check if Admin User exists
  become: yes
  become_user: airflow  
  shell: 
    cmd: source ~/.bashrc && airflow users list | awk '{print $3}' | grep -wc "admin3" #> /dev/null
  register: user_exists_result
  failed_when: "user_exists_result.rc not in [ 0, 1 ]"

- name: User exists
  debug:
    msg: "{{ user_exists_result.stdout }}"
  #when: user_exists_result.rc == "1"

- name: User does not exist
  debug:
    msg: "{{ user_exists_result.stdout }}"
  when: user_exists_result.stdout == "0"

- name: Create the Admin User
  become: yes
  become_user: airflow
  shell: 
    cmd: source ~/.bashrc && airflow users create --username admin2 --role Admin --email admin1@admin.com --firstname admin1 --lastname admin --password admin 
  register: create_user_result
  # failed when: "'ERROR' in create_user_result.stdout"
  when: user_exists_result.rc == "0"

#something
# - debug:
#     msg: "The Admin user exists"
#   when: create_user_result.rc | default ('') == 0 
